/* Palette via http://www.colourlovers.com/palette/3756463/Forever_Floral */
/* Fonts via https://fonts.google.com/specimen/Roboto?selection.family=Lato|Roboto */
body {
  color: #463335;
  font-family: 'Lato', sans-serif;
  background-color: #FAFBF4;
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'Lato', sans-serif;
}

.chapter-num, .verse-num, .footnote {
  vertical-align:super; font-size: 1.0rem;
}


nav h1 {
  display: inline;
  text-align: center;
  font-size: 3.4rem;
  color: white;
}

.esv object, .esv h2 {
  display:none;
}

a {
  color: #B75D69;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

h3, .chapter-num, .verse-num{
  color: #B75D69;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background:linear-gradient(#4B5F78, #3A506B);
}

.fixed-nav-bar .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  align-self: auto;
  vertical-align: center;
  margin: auto;
}

.fixed-nav-bar .menu h1 {
  margin: 0;
}

.fixed-nav-bar .left {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.fixed-nav-bar .center {
  order: 0;
  text-align: center;
  flex: 1 1 auto;
  align-self: auto;
}

.fixed-nav-bar .right {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.container {
  margin-top: 60px;
}

.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
}

.fixed-nav-bar .menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.fixed-nav-bar .menu a:hover, .fixed-nav-bar .menu a:target {
  color: #ebebeb;
}
.fixed-nav-bar a, .fixed-nav-bar a:visited {
  color: #e0e0e0;
}

@media only screen and (min-width: 1170px) {
  .cd-primary-nav>div>ul {
    width: 80%;
      margin-left: auto;
  }
}
.cd-primary-nav li {
  list-style-type: none;
}

.cd-primary-nav li>ul {
  display:none;
}
.cd-primary-nav .desc {
  color: 774C60;
}